<div>
  <link href="./logintypebox.css" rel="stylesheet" />
  <div class="logintypebox-container">
    <div class="logintypebox-container1">
      <span class="logintypebox-text"><span>Username</span></span>
      <input type="text" placeholder="placeholder" class="input" />
    </div>
    <div class="logintypebox-container2">
      <div class="logintypebox-container3">
        <span class="logintypebox-text1"><span>Password</span></span>
      </div>
      <input
        type="text"
        placeholder="placeholder"
        class="logintypebox-textinput1 input"
      />
    </div>
  </div>
</div>
