<div>
  <link href="./signuptypebox.css" rel="stylesheet" />
  <div class="signuptypebox-container">
    <div class="signuptypebox-container1">
      <span class="signuptypebox-text"><span>Username</span></span>
      <input type="text" placeholder="placeholder" class="input" />
    </div>
    <div class="signuptypebox-container2">
      <div class="signuptypebox-container3">
        <span class="signuptypebox-text1"><span>Password</span></span>
      </div>
      <input
        type="text"
        placeholder="placeholder"
        class="signuptypebox-textinput1 input"
      />
    </div>
  </div>
</div>
