<!DOCTYPE html>
<html lang="en">

<head>
  <title>post.title</title>

  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
</head>

<body>
  {% if session.get('user_id') %}
  <li><span>{{ 'Welcome, '+ session.get('user_id') }}</span>
    {% endif %}


    <a class="action" href="{{ url_for('index.index') }}">Back</a>
    <p>Title: {{post.title}}</p>
    <p>Author: {{post.author}}</p>
    <p>Create_datetime: {{post.create_datetime}}</p>
    <p>Content: {{post.content}}</p>


    {% if session.get('user_id') == post['author'] %}
    <a class="action" href="{{ url_for('post.edit_post', id=post['id']) }}">Edit</a>
    <a class="action" href="{{ url_for('post.delete_post', id=post['id']) }}">Delete</a>
    {% endif %}

</body>

</html>